<!DOCTYPE html>

<head>

<!--<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous">
</script>
-->



</head>

<div class="container1">
 
<nav>

  <table style="width:155%", class ="one"> 
  <tr class ="one">
    <th class ="one", style="text-align:center">PROJECT NAME</th>
  </tr>
  <tr class ="one">
    <td class ="one", style="text-align:center"><br>
<button onclick="hideAll()">Hide All Attributes</button>
<br><br>
<div id="myDIV">
</div></td>
  </tr>
  <tr class ="one" >
    <td class ="one", style="text-align:center"><br>
<button onclick="exportImage()">Export Image</button>
<br><br>
    </td>
  </tr>
  <tr class ="one" >
    <td class ="one", style="text-align:center"><br>
<button onclick="init_force_directed_layout()">Force Directed Layout</button> <br><br>
<button onclick="init_circular_layout()">Circular Layout</button> <br><br>
<button onclick="init_layered_digraph_layout()">Layered Digraph Layout</button>
<br><br>

</table>



</nav>

<article>
  <div id="sample">
  <h3>GoJS Entity Relationship</h3>
  <div id="myDiagramDiv" style="background-color: white; border: solid 1px black; width: 100%; height: 450px"></div>
</article>





</div>

<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous">
</script>
<script src="/JS/go.js"></script>
<script src="/JS/er_home.js"></script>

</body>
